:root {
    --sidebar-hover-bg: hsl(217 33% 17%);
    --sidebar-background: hsl(217 91% 50%);
    --text-muted: hsl(215 16% 47%);
    --main-bg: hsl(210 40% 98%);
    --border-color: hsl(214 32% 91%);
    --muted-bg: hsl(210 40% 96%);
}

html {
    font-size: 14px;
    font-family: "Inter", sans-serif;
}
input:focus, select:focus{
    outline: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.sidebar-list {
    margin-top: 20px;
    padding: 5px 10px;
}

.sidebar-list label {
    margin: 10px 3px 10px 10px;
    font-size: .75rem;
    text-transform: uppercase;
    color: hsl(210 40% 98%/ .4);
    font-weight: 500;
    letter-spacing: 1px;
}

.sidebar-list li {
    color: #ffffff;
    margin-bottom: 5px;
}

.sidebar-list li a {
    display: flex;
    padding: 8px 10px;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 500;
    color: #F8FAFCB2
}


.sidebar-selected, .sidebar-selected a {
    background: var(--sidebar-background);
    color: #ffffff !important;
    border-radius: 10px;
}

.sidebar-list li:hover, .sidebar-list a:hover{
    background: var(--sidebar-hover-bg);
    color: #ffffff;
    border-radius: 10px;
}

.sidebar-list li a span {
    margin-left: 10px;
}

main {
    background-color: var(--main-bg);
    min-height: 90vh;
}
/* GRID FOR DASHBOARD */
.grid-card {
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 0.877rem;
    background: #ffffff;
    transition: box-shadow 0.3s ease;
}

.grid-card:hover {
    box-shadow: 0 4px 7px 1px rgb(0 0 0 / 20%);
}

.grid-card .grid-header-text{
    color: var(--text-muted);
    font-weight: 500;
}

.btn-style, .btn-style[type="submit"] {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.card {
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

/* PRODUCT */
option{
    border-radius: 10px;    
}

.product-table thead {
    background: var(--muted-bg);
    color: var(--text-muted);
}

.product-table thead tr{
    padding: 2px 10px;
    background: var(--muted-bg);
    color: var(--text-muted);
}

th {
    font-weight: 700;
}
th,td  {
    font-size: 0.800rem;
    padding: 8px 13px;
    text-align: center;
}

thead tr ,tbody tr{
    border-bottom: 1px solid var(--border-color); 
    padding: 8px 13px;
}

.table-product-name {
    font-weight: 600;
}

/* CARD STATUSES */
.badge {
    display: inline-flex;
    padding: 6px 14px;
    border-radius: 999px;
    font-size: .8rem;
    font-weight: 600;
}

.good, .active, .approve, .completed {
    background: #d9fbe6;
    color: #007f5f;
    text-transform:capitalize;
}

.inspection, .pending {
    background: rgb(254 243 199);
    color: rgb(180 83 9);
    text-transform: capitalize;
}

.bad, .inactive, .rejected {
    background: #FEE2E2;
    color: #DC2626;
    text-transform: capitalize;
}

.product {
    background: hsl(217 91% 50% / .1); 
    color: #0C64F4;
}

.arrived {
    background: #CFFAFE;
    color: #0E7490;
    text-transform: capitalize;
}

.in-transit {
    background: #DBEAFE;
    color: #1D4ED8;
    text-transform: capitalize;
}

/* ROLES */
.admin {
    background: #F3E8FF;
    color: #7E22CE;
    text-transform: capitalize;
}

.supervisor {
    background: #DBEAFE;
    color: #1D4ED8;
    text-transform: capitalize;
}

.staff {
    background: #F3F4F6;
    color: #374151;
    text-transform: capitalize;
}

/*  */
form input:focus,
form select:focus,
form textarea:focus {
    outline: none;
    border-color: rgb(59 130 246);
    box-shadow: 0 0 0 2px rgb(59 130 246 / 0.35), 0 1px 2px rgb(0 0 0 / 0.05);
}

.eye-icon {
    cursor: pointer;
    transition: color 0.2s ease;
}

 .eye-icon:hover {
    color: #2563eb;
    transform: scale(1.15);
}